@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">"Welcome"</h1>
</div>
<div id="container" class="container alert-info">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Compare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    @* Panel for showing currencies from all providers *@
    <div id="CVproviders" class="container" @*style="display:none"*@>
        <div data-bind="foreach: datasources">
            <div class="row">
                <h1 class="col" data-bind="text: $data.source"></h1>
                <div class="col" data-bind="foreach: $data.currencies">
                    <div class="row">
                        <span data-bind="text: $data.name"></span>
                        :
                        <span data-bind="text: $data.rate"></span>
                    </div>                    
                </div>
            </div>            
        </div>
    </div>

    @* Panel for showing the average *@
    <div id="averages" class="container">
        <div class="row">
            <h1 class="col">Averages</h1>
            <div class="col" data-bind="foreach: $data.listOfCurrencies()">
                <div class="row">
                    <span data-bind="text: $data"></span>
                    :
                    <span data-bind="text: getAverage($data)"></span>
                </div>
            </div>
        </div>
    </div>

</div>
