@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web service does not collect or contain any personally identifiable information, track visitors or collect analytics of any kind.</p>
