@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web service does not collect or contain any personally identifiable information. Also does not track visitor data of any kind or keep any logs on the server.</p>
